{% load currency_filters %}
 
 <a
 id="cart-item-{{ item.id }}"
        href="#"
        class="flex gap-3 px-3 py-2 hover:bg-slate-100 dark:hover:bg-slate-700
              transition group"
      >
        <div class="h-12 w-12 flex items-center justify-center shrink-0">
          <img
            src="{{ item.product.image.url }}"
            alt="{{ item.product.name }}"
            class="max-h-full max-w-full rounded
                  group-hover:scale-105 transition"
          />
        </div>

        <div class="flex-1 text-sm">
          <p class="font-medium leading-tight mb-1 truncate">
            {{ item.product.name }}
          </p>
          <div class="flex justify-between text-xs text-slate-500 dark:text-slate-400">
            <p>x<span class="cartItemEachCount">{{ item.quantity }}</span></p>
            <p>
              {{item.variation.variation_type_options|safe}}
            </p>
            <span>{{ item.product.price|currency }}</span>
          </div>
        </div>
      </a>