<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between
            gap-3 p-3 border border-slate-200 dark:border-slate-700 rounded-lg">

    <!-- Product link -->
    <a href="{% url 'product_details' item.cart_item.product.slug %}?{{ item.options_query }}"
       class="flex items-center justify-between gap-3 sm:flex-1">
        <div class="flex items-center gap-2">
            {% if item.cart_item.image %}
            <img src="{{ item.cart_item.image }}"
                    alt="{{ item.cart_item.product.name }}"
                    class="w-16 h-16 object-cover rounded-md">
            {% endif %}

            <div>
                <p class="font-medium text-slate-900 dark:text-slate-100">
                    {{ item.cart_item.product.name }}
                </p>
                <p class="text-sm text-slate-500 dark:text-slate-400">
                    {{ item.cart_item.variation.variation_type_options }}
                </p>
            </div>
        </div>
        <p class="font-semibold text-slate-900 dark:text-slate-100 sm:text-right">
            ${{ item.cart_item.price }}
        </p>
    </a>

    <!-- Price -->
    <!-- Qty + Delete (grouped for mobile) -->
    <div class="flex items-center justify-between sm:justify-start gap-3">
        
        <!-- Quantity form -->
        <form method="post" action="{% url 'carts' %}">
            {% csrf_token %}
            <input type="hidden" name="cart_item_id" value="{{ item.cart_item.id }}">

            <div class="flex items-center border border-gray-900 dark:border-gray-400 rounded-md overflow-hidden">
                <span class="px-2 py-2 text-md font-semibold bg-gray-100 dark:bg-gray-800
                             border-r border-gray-900 dark:border-gray-400">
                    Qty
                </span>

                <input
                    data-qty-input
                    name="quantity"
                    type="number"
                    min="0"
                    value="{{ item.cart_item.quantity }}"
                    class="w-16 px-3 py-2 text-center outline-none
                           focus:ring-0 dark:bg-transparent dark:text-gray-100"
                />
            </div>
        </form>

        <!-- Delete button -->
        <form method="post" action="{% url 'carts' %}">
            {% csrf_token %}
            <input type="hidden" name="cart_item_id" value="{{ item.cart_item.id }}">
            <input type="hidden" name="quantity" value="0">

            <button type="submit"
                    class="px-3 py-2 text-sm font-medium
                           text-red-600 border border-red-600 rounded-md
                           hover:bg-red-600 hover:text-white transition">
                Delete
            </button>
        </form>
    </div>
</div>
