<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static tailwind_tags %} 
    {% tailwind_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Ecommerce{% endblock %}</title>
  </head>
  <body
    data-toast-duration="{{ TOAST_DURATION }}"
    class="bg-slate-100 text-slate-900 antialiased dark:bg-slate-900 dark:text-slate-100"
  >
    <!-- Toast Container -->
    <div
      id="toast-container"
      class="fixed top-6 right-1 sm:right-6 z-50 flex max-h-[calc(3*88px)] w-80 sm:w-96 flex-col gap-3 overflow-scroll no-scrollbar"
    ></div>

    {% block content %}{% endblock %}
    <script type="module" src="{% static 'js/event_bus.js' %}"></script>
    <script type="module" src="{% static 'js/toast.js' %}" defer></script>
  </body>
</html>
