<div class="flex gap-2 flex-row">

          <div class="py-3">
            <a
              href="{% url 'login' %}"
              class="px-4 py-2 text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 rounded-full transition"
            >
              Login
            </a>
          </div>

         <div class="py-3">
            <a
              href="{% url 'signup' %}"
              class="px-4 py-2 text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 rounded-full transition"
            >
              Sign Up
            </a>
          </div>

        </div>