<div class="flex flex-row gap-2">
  <div class="py-2">
    <a href="{% url 'login' %}" class="px-4 py-2 text-xs sm:text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 rounded-full transition block text-center md:inline-block">
      Login
    </a>
  </div>

  <div class="py-2">
    <a href="{% url 'signup' %}" class="px-4 py-2 text-xs sm:text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 rounded-full transition block text-center md:inline-block text-nowrap">
      Sign Up
    </a>
  </div>
</div>
