<div id="product-carousel" class="flex flex-col sm:flex-row gap-2 sm:gap-6">
  <!-- Thumbnails -->
  <div class="flex flex-row sm:flex-col items-center gap-2 py-2 overflow-x-auto sm:overflow-x-visible order-2 sm:order-1">
    {% for image in carousel_images %}
      <button data-image="{{image.large}}" class="carousel-btns border-2 rounded cursor-pointer transition-transform duration-200 ease-out hover:scale-110 {% if carousel_images.0.large == image.large %}border-fuchsia-700{% endif %}">
        <img src="{{image.thumb}}" class="w-[50px] object-fill h-[50px]" alt="{{product.name}}" />
      </button>
    {% endfor %}
  </div>

  <!-- Main image -->
  <div class="w-full rounded-box flex justify-center items-center order-1 sm:order-2">
    <img
      id="carousel-img"
      src="{{carousel_images.0.large}}"
      class="w-auto h-[380px] sm:h-[480px] object-contain rounded-box"
      alt="{{product.name}}"
    />
  </div>
</div>
