{% extends "layouts/authenticated_layout.html" %}

{% block authenticated_page %}
{% load static %}

<div class="container mt-12">

	{% if products.count > 0 %}
	<div
		class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6"
	>
		{% for product in products %}
		{% include "products/components/product_item.html" with product=product %}
		{% endfor %}
	</div>
	{% else %}
	<div class="flex justify-center items-center pt-40">
		<p class="text-3xl font-extrabold text-slate-800 dark:text-slate-200">No Product Yet</p>
	</div>
	{% endif %}
</div>
<script>
  const csrfToken = '{{ csrf_token }}';
  const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
  const loginUrl = '{% url "login" %}';
</script>
<script src="{% static 'products/js/cart.js' %}"></script>
{% endblock %}
